jira==2.0.0
django-fernet-fields==0.6
Django~=3.1.7
djangorestframework~=3.12.2
django-crispy-forms~=1.11.1
-e git+ssh://git@github.com/Ensembgit branch -u origin/l/ensembl-prodinf-djcore@main#egg=ensmainembl-prodinf-djcore