{% extends "admin/change_list.html" %}
{% load static %}
{% block search %}
    {% if export_view_name %}
    <div id="toolbar" class="container col-md-12 col-md-offset-3 module">
        <form id="changelist-search" method="post" action="{% url export_view_name %}">
            <div class="row p-3">
                {% csrf_token %}
                <label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Filter"></label>
                <input type="text" size="50" id="intentions_filter" name="intentions_filter"
                       value="{{ cl.query }}" id="searchbar" autofocus placeholder="Filter on Keyword or Version...">
                <input type="submit" class="btn btn-info" value="Export">
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}

{% block result_list %}
    <div class="results">
        <table id="result_list">
        {% block table %}
            {% include 'intentions_table.html' with intentions=intentions jira_link=True %}
        {% endblock table %}
        </table>
    </div>
{% endblock %}

