{% load linebreakspar %}

{% for kb in intentions %}
    <tr>
        <td colspan="2">
            <h3>{{ kb.summary }}</h3>
        </td>
    </tr>
    {% if kb.affected_sites or kb.versions_list %}
    <tr>
        <td class="col-md-2">{% if kb.affected_sites  %}<strong>Affects: </strong>{{ kb.affected_sites }}{% endif %}</td>
        <td class="col-md-4">{% if kb.versions_list  %}<strong>Versions: </strong>{{ kb.versions_list }}{% endif %}</td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="2"><strong>Description: </strong>
            {{ kb.description | linebreakspar }}
        </td>
    </tr>
    <tr>
        <td colspan="2"><strong>Workaround: </strong>{% if kb.workaround %}{{ kb.workaround | safe }}{% else %}No work
            around. Except using most up to date datasets{% endif %}</td>
    </tr>
    <tr>
        <td><hr/></td>
    </tr>
{% endfor %}
