{% load linebreakspar %}

{% for kb in intentions %}
    <table class="table table-bordered">
        <tbody id="known_bugs_table">
        <tr>
            <td colspan="2">
                <h3>{{ kb.summary }}</h3>
            </td>
        </tr>
        <tr>
            <td class="col-md-2"><strong>Affects: </strong>{{ kb.affected_sites|default:'Live Site' }}</td>
            <td class="col-md-4"><strong>Versions: </strong>{{ kb.versions_list }}</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Description: </strong>{{ kb.description | linebreakspar }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Workaround: </strong>{{ kb.workaround | safe | default:'No work around. Except using most up to date datasets' }}
            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}
