<div class="jira-item">
    <section>
        <h4><strong>{{ kb.summary }}</strong></h4>
    </section>
    <section>
        <div class="inline-group">
            <span class="label">Declaring team:</span>
            <span>{{ kb.declaring_team }}</span>
            {% if jira_link %}
                <span class="text-right">
                    <a href="{{ kb.permalink }}"
                       target="_blank"><strong>-- {{ kb.key }}</strong></a>
                </span>
            {% endif %}
        </div>
        {% if kb.affected_sites %}
            <div>
                <span class="label">Affects:</span>
                <span>{{ kb.affected_sites }}</span>
            </div>
        {% endif %}

    </section>
    <section>
        <div>
            <span class="label">Affected Versions:</span>
            <span>{{ kb.versions_list }}</span>
        </div>
        <div>
            <span class="label">Fix Version:</span>
            <span>{{ kb.fix_version }}</span>
        </div>
    </section>
    <section>
        <p class="label">
            Description:
        </p>
        <pre class="jira-message">{{ kb.description | safe }}</pre>
    </section>
    {% if kb.workaround %}
        <section>
            <p class="label">
                Workaround:
            </p>

            <pre class="text">
          {{ kb.workaround | safe }}
        </pre>
        </section>
    {% endif %}

</div>